.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-container div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: calc(100% - 10px);
  padding: 8px 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="button"] {
  background-color: #6c757d;
  margin-top: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

p {
  color: red;
  font-size: 12px;
  margin: 5px 0 0 0;
}

select {
  width: 100%;
}

input::placeholder {
  color: #888;
}

.phone-container {
  display: flex;
  gap: 70px;
}

.phone-container div {
  flex: 1;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .phone-container input {
    width: calc(50% - 5px);
  }

  .phone-container input:first-child {
    margin-right: 10px;
  }
}
